<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyATEJ0a2zMG18cnoZ3g1JoK1zBDMRAAHec</string>
	<key>GCM_SENDER_ID</key>
	<string>453051545040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.calod4</string>
	<key>PROJECT_ID</key>
	<string>calod4-881b7</string>
	<key>STORAGE_BUCKET</key>
	<string>calod4-881b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453051545040:ios:a0d39566aa122fab9af5d5</string>
</dict>
</plist>